.posts {
    margin: 50px 20px 20px 20px;
}

.addButton {
    width: 100px;
    height: 45px;

    padding: 0;

    border: none;

    background: black;

    color: white;
    text-transform: uppercase;
    vertical-align: middle;
}