.header {
    grid-area: header;
    background-color: black;
}

.header img {
    width: 7%;
    height: 100%;
}

.loginBlock {
    float: right;
    color: white;
}

.loginBlock a {
    color: white;
}