.nav {
    grid-area: nav;

    background-color: white;
    border-radius: 10px;
}

.item {
    color: black;

    margin: 20px;

    transition: transform .2s linear;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a.active {
    color: green;
}

.item:hover {
    transform: scale(1.1);
}

