.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__names {
    margin: 15px;
}

.dialogs__img {
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.dialogs__names .active {
    color: green;
}

.dialogs__name {
    padding: 5px;
    vertical-align: top;

    color: black;
    text-decoration: none;
}

.dialogs__messages {
    margin: 15px;
}

.dialogs__message {
    padding: 5px;
}

.sendButton {
    width: 100px;
    height: 45px;

    padding: 0;

    border: none;
    background: black;

    color: white;
    text-transform: uppercase;
    vertical-align: middle;
}

.addMessage {
    display: flex;

    margin: 10px;
}
